@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
    /* background-color: azure; */
}
.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /* background-color: burlywood; */
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width: 21.18em;

}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display:none;
}
.banner{
    width: 100%;
    position: relative;
}
.banner-mobile{
    display: none;
}
.banner-position{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.377); */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
    /* background-color: rgba(222, 184, 135, 0.356); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.banner-text a:hover{
    background-color: rgb(243, 33, 33);
}
.jogos{
    width: 100%;
    height: 7.5em;
    /* background-color: chartreuse; */
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transition: 0.2s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000;
    transform: skewY(-3deg)
}
.about-position{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.397); */
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.4em;
    padding-top: 30px;
}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}
.jogos-aovivo{
    padding-right: 25px;
}
.jogos-aovivo::after{
    content: "";
    border-right: 1px solid gray;
    height: 80px;
    padding-right: 25px;
}
.jogos-aovivo h2{
    color: white;
    text-transform: uppercase;
}
.partida{
    color: white;
    display: flex;
    margin-left: 3.12em; /* 1em = 16px*/
    padding-top: 8px;
    padding-right: 25px;
}
.partida img{
    max-width: 3.375em;
}
.partida > p{
    padding-top: 14px;
    padding-left: 30px;
}
.time1{
    color: white;
    display: flex;
    margin: 0 15px;
}
.time1 p{
    padding: 8px 8px;
    font-size: 20px;
}
.jogos-embreve{
    margin-left: 60px;
}
.jogos-embreve h2{
    color: white;
    text-transform: uppercase;
}

.time3{
    color: white;
    display: flex;
    margin: 0 20px;
}
.time3 p{
    padding: 12px 10px;
    font-size: 20px;
}

.noticia{
    width: 100%;
    height: 800px;
    border-top: 2px solid #001F70;
    display: flex;
    background-color: rgb(12, 12, 12);
}
.content h2{
    color: white;
    padding-left: 100px;
    padding-top: 20px;
    font-size: 24px;
}
.noticias{
    width: 100%;
    height: 300px;
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.noticia1{
    width: 200px;
    height: 300px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-right: 100px;
    background: rgb(31, 31, 31);
    cursor: pointer;
    box-shadow: 2px 2px 10px  2px rgb(170, 170, 170);
}

.noticia1:hover{
    transform: scale(1.3 , 1.3);
    transition: 0.5s;
}

.noticia1 h4{
    color: white;
    padding-left: 10px;
    font-size: 20px;
} 

.noticia1 p{
    width: 180px;
    color: white;
    padding-left: 10px;
    padding-top: 20px;
} 
.aside{
    max-width: 200px;
    width: 70%;
    height: 600px;
    background-color: rgb(27, 27, 27);
    margin-right: 250px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px  2px rgb(170, 170, 170);
}
.aside h4{
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.aside img{
    max-width: 2.375em;
    margin-left: 0px;
}
.jogo1{
    margin-top: 40px;
    display: flex;
    margin-left: 20px;
}
.jogo1 h4{
    font-size: 16px;
    padding: 10px 10px;
}
.jogo1 h5{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 0;
}
footer{
    width: 100%;
    height: 150px;
    display: flex;
}
.menu-footer{
    margin: 30px 30px;
}

.menu-footer a{
    color: rgb(87, 86, 86);
    text-decoration: none;
    font-size: 16px;
}
.menu-footer a:hover{
    text-decoration: underline;
}
.logo{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}
.logo img{
    max-width: 20em;
}
.email{
   width:600px;
   height: 140px;
   background-color: rgb(36, 36, 36);
   margin-top: 40px;
   margin-left: 100px;
}
.email h4{
    font-size: 20px;
    color: white;
    padding-left: 15px;
    padding-top: 10px;
}
.email input[type=text]{
    width: 500px;
    height:35px;
    margin-left:15px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
}
.email input[type=submit]{
    width: 160px;
    height: 35px;
    position: relative;
    padding: 0 10px;
    bottom: 35px;
    left: 355px;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    cursor:pointer;
}
@media screen and (max-width: 74.93em){
    .noticia{
        height: 1300px;
    }
    .content h2{
        color: white;
        padding-left: 80px;
        padding-top: 20px;
    }
    .noticia1 , .noticia2 , .noticia3 , .noticia4 , .noticia5 , .noticia6{
        width: 180px;
        height: 270px;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-right: 20px;
    }
    .aside{
        max-width:200px;
        width: 100%;
        height: 600px;
        background-color: rgb(27, 27, 27);
        margin-right: 250px;
        margin-top: 60px;
    }    
    .email{
        height: 140px;
    }
    .email h4{
        font-size: 18px;
    }

@media screen and (max-width: 47.93em){

}

@media screen and (max-width: 35.93em){ /*Mobile design*/
    .desktop_only{
        display:none;
    }
    .menu{
        width: 250px;
        max-width: 50em;
        z-index: 99;
        margin-top: 300px;
        margin-left: -150px;
    }
    .menu ul{
        flex-direction: column;
        z-index: 99;
        background-color: red;
        display: none;
    }
    .menu ul li{
        padding: 5px 0;
    }
    .menu ul li a{
        padding: 5px 10px;
    }
    .flex-center-bt > a > img{
        width: 200px;
        height: 80px;
    }
    #menu-bars{
        display: block;
        margin-left: 140px;
    }
    .fa-bars{
        color: white;
    }
    .fa{
        width: 100px;
        height:100px;
    }
    .menu li:hover a{
        text-decoration: underline;
    }
    .banner{
        width: 100%;
        height: 340px;
        position: relative;
    }
    .banner-mobile{
        display: block;
        height: 100%;
    }
    .banner-desktop{
        display: none;
    }
    .banner-position{
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 255, 0.377); */
        position: absolute;
        top: 0;
    }
    .banner-content{
        width: 80%;
        height: 300px;
        /* background-color: rgba(222, 184, 135, 0.356); */
        margin: 50px 150px;
        display: flex;
        justify-content: flex-end;
    }
    .banner-text{
        width: 100%;
        height: 100%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .banner-text h1{
        font-size: 2.62em;
    }
    .banner-text p{
        font-size: 1.87em;
        text-align: center;
    }
    .banner-text a{
        font-size: 1.57em;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        background-color: var(--red);
        padding: 0.3em 0.7em;
        border-radius: 0.5em;
        margin-top: 1em;
    }
    .jogos{
        width: 100%;
        height: 7.5em;
        /* background-color: chartreuse; */
    }
    .jogos ul{
        list-style-type: none;
        width: 100%;
    }
    .jogos ul a:hover img{
        transition: 0.2s;
        transform: scale(1.1);
    }
    .about{
        width: 100%;
        height: 31.25em;
        background-color: var(--blue);
        position: relative;
    
    }
    .angulation{
        width: 100%;
        height: 24em;
        background-color: #000;
        transform: skewY(-3deg)
    }
    .about-position{
        width: 100%;
        height: 100%;
        /* background-color: rgba(255, 0, 0, 0.397); */
        position: absolute;
        top: 0;
    }
    .about-text{
        width: 100%;
        color: #fff;
        text-align: justify;
    }
    .about-text h2{
        font-size: 1.58em;
        margin-bottom: 0.4em;
        padding-top: 10px;
    }
    .about-text p{
        font-size: 1.1em;
        margin-bottom: 1em;
    }
    .about-position img{
        display: none;
    }
    .mobile_only{
        height: 290px;
    }
    .mobile-content{
    flex-direction: column;
    margin: 10px auto;
    }
    .jogos-aovivo{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: -25px 0;
    }
    .jogos-aovivo h2{
        padding-right: 50px;
    }
    .jogos-aovivo::after{
        border: none;
    }
    .jogos-embreve{
        width: 100%;
        flex-direction: column;
        margin-top: -20px;
        margin-bottom:100px;
        margin-left: 0;
    }
   .jogos-embreve h2{
        padding-right: 60px;
   }
   .partida > p{
        padding: 14px  0;
   }
    .noticia{
        height: 1500px;
    }
    .noticia1{
        width: 210px;
        height: 290px;
        flex-wrap: wrap;
        margin-bottom: 350px;
        margin-right: 20px;
    }
    .espaco{
        display: none;
    }
    .aside{
        width:210px;
        height: 430px;
        margin: 100px -50px;
    }  
    footer{
        width: 100%;
        height: 100px;
        display: block;
    }
    footer p{
        color: gray;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .menu-footer{
        margin: 10px 40px;
        display: block;
    }
    
    .menu-footer a{
        color: rgb(87, 86, 86);
        text-decoration: none;
        font-size: 16px;
        padding: 10px 10px;
    }
    .logo{
        display: none;
    }
    .email{
       width:350px;
       height: 210px;
       background-color: rgb(36, 36, 36);
       margin: 40px 50px;
    }
    .email h4{
        font-size: 20px;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
    }
    .email input[type=text]{
        width: 300px;
        height:35px;
        margin-top: 20px;
        padding-left: 10px;
        font-size: 18px;
    }
    .email input[type=submit]{
        width:   180px;
        height: 35px;   
        padding: 0 10px; 
        margin: 30px 80px;
        position: static;    
    }
}
}